@import "tailwindcss";

/* -------------------------------
   Theme Variables
-------------------------------- */
@theme {
  --color-primary: #6366f1;
  --color-primary-light: #818cf8;
  --color-primary-dark: #0c0a35;

  --color-accent: #14b8a6;
  --color-accent-light: #2dd4bf;

  --color-slate-900: #0f172a;
  --color-slate-700: #334155;
  --color-slate-500: #64748b;
  --color-slate-300: #cbd5e1;
  --color-slate-100: #f1f5f9;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-bg: #ffffff;
  --color-bg-soft: #fafafc;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-inter);
    background-color: var(--color-bg);
    color: var(--color-slate-900);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat);
  }
}
